body {
  background: #002236 url(images/site/img01.gif) repeat-x;
  color: #181B20;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
/* Another example of a long comment. This example is in the CSS file. It serves no useful purpose, it is here for the demo only for the Visual Studio Essentials course.*/
h1, h2, h3 {
  color: #b6450a;
  font-family: 'Dosis' , sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0;
  text-transform: capitalize;
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.2em;
}

p, ul, ol {
  line-height: 180%;
  margin-top: 0;
}

ul, ol {
}